.navbar
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      %a.brand(href="/") Txtur

      .container.nav-collapse
        %ul.nav
          - if @graph
            %li
              %a.signout{ :href => '#' } Sign out
            %li
              %a.profile{ :href => "https://facebook.com/#{@user_id}" } Your Profile
            %li
              %a.new_post{ :href => '/posts/new' } New Post
            %li
              %a.new_post{ :href => '/imports/new' } Import Post

          - else
            %li
              %a.signin{ :href => '#' } Sign into Facebook

