%h2 Share snippets with Txtur

%p You want to share a short story, poem, or some other snippet of text with people on Facebook.

%p But Facebook doesn't give you enough control. On the other hand, a Google Doc is too heavy handed.

%p Txtur lets you simply write, then share it with your friends with zero friction.

%p
  %b Simply:

%ul
  %li Create a snippet, whether it's poetry, code, prose, etc.
  %li Format your text with <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a>. Include links, external images, etc.
  %li Effortlessly share your snippets on Facebook, or send people the link!

%p We will be adding other features such as tagging, voting, and privacy settings. So check back soon!

%p
  %b What are you waiting for? Txt urs!

%h2 Most Recent Posts

- Post.order(:created_at).limit(10).each do |post|
  %h3
    %a{ :href => "/posts/#{post.uuid}" }= post.title

  %p= post.summary
