%h2 Txtur lets you share text snippets

%p Create snippets of text, whether those snippets are poetry, code, prose, or any other text.

%p Format your text as <a href="http://daringfireball.net/projects/markdown/syntax">markdown</a>. Include links, references to external images, etc.

%p Share your snippets. Only people you share the link with can see your snippet. More ways of sharing will be offered in the future, including Facebook sharing!

