%h2 Share snippets with Txtur

%p.lead Txtur lets you simply write, then share it with your friends with zero friction.

%p Share a short story, poem, or other snippet of text with people on Facebook.

%p
  Customize your snippets while sharing effortlessly,
  %b in just 3 easy steps!

%ol
  %li Create a snippet.
  %li Format it with <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a>. Include links, images, etc.
  %li Share on Facebook, or send people the link!

%p.lead What are you waiting for? Txt urs!

= render 'starred_posts'
= render 'recent_posts'

