= form_tag "/posts/#{@post.uuid}", :method => :put do
  %fieldset
    %legend Create a new post

    %label Title
    %input{ :type => 'text', :name => 'post[title]', :value => @post.title }

    %label Contents
    %textarea{ :name => 'post[contents]' }= @post.markdown_contents

    %br
    %input{ :type => 'submit', :value => 'Create Post' }

