- if @graph
  = form_tag "/posts/#{@post.uuid}", :method => :put, :class => 'form' do
    %fieldset
      %legend Edit a post

      = render 'form'

      %br
      %input.btn.btn-primary{ :type => 'submit', :value => 'Edit Post' }

- else
  %h2 Welcome to Txtur!

  You must <a href="#" class="signin">sign in</a> to continue.

