= form_tag "/posts/#{@post.uuid}", :method => :put, :class => 'form' do
  %fieldset
    %legend Edit a post

    %label Title
    %input.title{ :type => 'text', :name => 'post[title]', :value => @post.title }

    %label Contents
    %textarea.contents{ :name => 'post[contents]' }= @post.markdown_contents

    %br
    %input.btn.btn-primary{ :type => 'submit', :value => 'Edit Post' }

