- if @graph
  %form.form{ :method => 'post', :action => '/posts' }
    %fieldset
      %legend Create a new post

      %label Title
      %input.title{ :type => 'text', :name => 'post[title]' }

      %label Contents
      %textarea.contents{ :name => 'post[contents]' }

      .help-block
        Posts are formatted with
        <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a>.

      %label Tags
      %input.tags{ :type => 'text', :name => 'post[post_tags]' }

      .help-block
        Tags are a comma-separated list of categories that posts can be searched by.

      %label.checkbox
        %input{ :type => 'hidden', :name => 'post[public]', :value => 'false' }
        %input{ :type => 'checkbox', :name => 'post[public]', :checked => 'checked', :value => 'true' }
        Public

      .help-block
        Posts marked as private will not show up to other users within Txtur, but be forewarned that
        %b anyone you share the link to your post with will still be able to see your post.
        Posts are public by default.

      %br
      %input.btn.btn-primary{ :type => 'submit', :value => 'Create Post' }

- else
  %h2 Welcome to Txtur!

  You must <a href="#" class="signin">sign in</a> to continue.

