- if @graph
  %form.form{ :method => 'post', :action => '/posts' }
    %fieldset
      %legend Create a new post

      %label Title
      %input.title{ :type => 'text', :name => 'post[title]' }

      %label Contents
      %textarea.contents{ :name => 'post[contents]' }

      %br
      %input.btn.btn-primary{ :type => 'submit', :value => 'Create Post' }

- else
  %h2 Welcome to Txtur!

  You must <a href="#" class="signin">sign in</a> to continue.

