// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form {
  padding-right: 40px
}

form .title {
  width: 100%;
}

form .contents {
  width: 100%;
  height: 400px;
}

#spinner {
  display: none;
}

.share-well {
  padding-right: 30px;

  .message {
    width: 100%;
  }
}
